.promo {
  min-height: 100vh;
  position: relative;
  padding-top: 265px;
  background: url("./../img/bg.jpg.jpg") no-repeat 50%/cover;
}
.promo__title16 {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  z-index: 5;
  color: #000000;
}
.promo__title16::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: -6px;
  left: -11px;
  border-radius: 100%;
  z-index: -1;
  background: #ffa501;
}
.promo__title48 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}
.promo__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  margin-top: 25px;
}
.promo__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.promo__link:hover {
  color: #fff;
}

.btn {
  width: 135px;
  height: 45px;
  background: #ffa501;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  padding-top: 12px;
}

.sidepanel {
  position: fixed;
  top: 226px;
  left: 50px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 340px;
}
.sidepanel__divider {
  width: 1.5px;
  height: 70px;
  background-color: #000000;
}
.sidepanel__text {
  height: 150px;
  width: 24px;
}
.sidepanel span {
  -webkit-transform: rotate(-90deg) translate(-30%, -263%);
          transform: rotate(-90deg) translate(-30%, -263%);
  display: block;
  width: 150px;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  display: block;
  background-color: #000;
  width: 30px;
  height: 3px;
}
.hamburger span.log {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.menu.close {
  display: none;
}
.menu.active {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: absolute;
  overflow: scroll;
  z-index: 100;
  width: 345px;
  background-color: #ffa501;
  height: 100%;
  right: 0;
}
.menu__close {
  position: absolute;
  top: 24px;
  right: 25px;
  cursor: pointer;
}
.menu__list {
  padding: 140px 60px 0;
}
.menu__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 15px;
  position: relative;
}
.menu__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: -27px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 100%;
}
.menu__link:hover::before {
  background-color: #ffffff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.menu__link a {
  color: #ffffff;
}
.menu__social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.75;
}

.about {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__descr {
  padding-top: 6px;
}
.about__title16 {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.about__title16::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: -7px;
  left: -11px;
  border-radius: 100%;
  z-index: -1;
  background: #ffa501;
}
.about__title36 {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
}
.about__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 70px 670px;
  grid-template-columns: 400px 670px;
  -ms-grid-rows: minmax(245px, auto) 40px minmax(255px, auto);
  grid-template-rows: minmax(245px, auto) minmax(255px, auto);
  grid-auto-rows: minmax(245px, auto);
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 40px;
}
.about__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.about__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.about__wrapper > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.about__wrapper > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.about__photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.about__photo img {
  width: 100%;
}
.about__divider {
  width: 60px;
  height: 0px;
  margin-bottom: 20px;
  border: 1px solid #ffa501;
}
.about__text {
  width: 570px;
  height: 123px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.about__skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 20px 1fr;
  -ms-grid-columns: 1fr 50px 1fr;
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
}
.about__skills-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17px 20px 200px;
  grid-template-columns: 17px 200px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  position: relative;
}
.about__circle::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: -13px;
  left: -14px;
  border-radius: 100%;
  z-index: -1;
  background: #ffa501;
}
.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 6px;
}
.about__subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.resume {
  padding-top: 125px;
}
.resume__title16 {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.resume__title16::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: -6px;
  -webkit-transform: translate(3px);
          transform: translate(3px);
  border-radius: 100%;
  z-index: -1;
  background: #ffa501;
}
.resume__title36 {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
  text-align: center;
}
.resume__divider {
  width: 60px;
  border: 1px solid #ffa501;
  margin: 0 auto;
  margin-top: 25px;
}
.resume__wrapper {
  padding: 0 70px 0 70px;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 413px 136px 413px;
  grid-template-columns: repeat(2, 413px);
  -webkit-column-gap: 136px;
     -moz-column-gap: 136px;
          column-gap: 136px;
}
.resume__item {
  position: relative;
}
.resume__item::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 1px;
  top: 67px;
  left: 8px;
  background-color: #000000;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.resume__item-head {
  position: relative;
  padding-left: 100px;
  padding-top: 45px;
}
.resume__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  padding-left: 45px;
  position: relative;
}
.resume__title-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  position: relative;
  padding-left: 45px;
}
.resume__title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0px;
  top: 8px;
  border-radius: 100%;
  background: #ffa501;
}
.resume__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.resume li {
  position: relative;
}
.resume li::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 7px;
  width: 1px;
  height: 100%;
  background: #000000;
}
.resume__descr {
  padding-left: 45px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.resume__icon {
  position: absolute;
  top: 62px;
  left: 59px;
  width: 19.79px;
  height: 25px;
}
.resume__icon::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: -14px;
  left: -18px;
  border-radius: 100%;
  z-index: -1;
  background: #ffa501;
}

.page {
  padding-top: 125px;
  position: relative;
}
.page__title16 {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
}
.page__title36 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
}
.page .divider {
  margin: 0 auto;
  margin-top: 25px;
  width: 60px;
  height: 1px;
  border: 2px solid #ffa501;
}
.page__container {
  width: 1320px;
  height: 550px;
}
.page__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 13px;
}
.page__item {
  width: 270px;
  height: 270px;
  padding: 30px 30px 25px 30px;
  border: 1px solid #000000;
}
.page__img {
  width: 45.77px;
  height: 65px;
}
.page__title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.page__descr {
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.page__skills {
  margin-top: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(70px, auto) 35px minmax(70px, auto);
  -ms-grid-columns: 350px 45px 350px 45px 350px;
      grid-template: repeat(2, minmax(70px, auto))/repeat(3, 350px);
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  row-gap: 35px;
}
.page__skills-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(21px, auto) 14px;
  -ms-grid-columns: 200px 35px;
      grid-template: minmax(21px, auto) 14px/200px 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.page__skills-title {
  position: relative;
  padding: 2px 0 0 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.page__skills-counter {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.page__skills-line {
  width: 350px;
  height: 14px;
  background-color: #e8e4de;
  border-radius: 4px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.page__skills span {
  display: block;
  height: 100%;
  background-color: #ffa501;
  border-radius: 4px;
}

.portfolio {
  padding-top: 125px;
}
.portfolio__title16 {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
}
.portfolio__title16::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: -6px;
  -webkit-transform: translate(26px);
          transform: translate(26px);
  border-radius: 100%;
  z-index: -1;
  background: #ffa501;
}
.portfolio__title36 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
}
.portfolio .divider {
  margin: 0 auto;
  width: 60px;
  height: 0px;
  margin-top: 25px;
  border: 1px solid #ffa501;
}
.portfolio__wrapper {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 280px 5px 280px;
  -ms-grid-columns: 280px 5px 280px 5px 280px 5px 280px;
      grid-template: repeat(2, 280px)/repeat(4, 280px);
  gap: 5px;
}
.portfolio__wrapper .vertical {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}
.portfolio__wrapper .horizonal {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.price {
  margin-top: 60px;
}
.price__title16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  color: #000000;
  text-align: center;
}
.price .divider {
  width: 60px;
  height: 0px;
  border: 1px solid #ffa501;
  margin: 0 auto;
  margin-top: 31px;
}
.price__wrapper {
  margin-top: 60px;
  padding: 0 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(45px, auto) 15px minmax(45px, auto) 15px minmax(45px, auto);
  -ms-grid-columns: (375px)[2];
      grid-template: repeat(3, minmax(45px, auto))/repeat(2, 375px);
  grid-auto-rows: minmax(45px, auto);
  row-gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price__item {
  display: -ms-grid;
  display: grid;
  row-gap: 5px;
  -ms-grid-rows: minmax(21px, auto) 5px minmax(21px, auto);
  -ms-grid-columns: (auto)[2];
      grid-template: repeat(2, minmax(21px, auto))/repeat(2, auto);
  position: relative;
}
.price__item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1px;
  -webkit-transform: translate(-30px);
          transform: translate(-30px);
  border-radius: 100%;
  z-index: -1;
  background: #ffa501;
}
.price__title, .price__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.price__subtitle {
  -ms-grid-column-align: end;
      justify-self: end;
}
.price__descr {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.contacts {
  padding: 120px 0 92px 0;
}
.contacts__wrapper {
  padding: 0 32px 0 52px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 68px 585px;
  grid-template-columns: 400px 585px;
  gap: 68px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__proho img {
  width: 100%;
}
.contacts__title16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
}
.contacts__title16::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -14px;
  width: 36px;
  height: 36px;
  background: #ffa501;
  border-radius: 100%;
  z-index: -1;
}
.contacts__title36 {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
}
.contacts .divider {
  width: 60px;
  height: 0px;
  border: 1px solid #ffa501;
}
.contacts__title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__text {
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.contacts__form {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 45px 190px 45px;
  -ms-grid-columns: (auto)[2];
      grid-template: 45px 190px 45px/repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__input {
  position: relative;
}
.contacts__input input {
  width: 100%;
  height: 100%;
  padding: 14px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  z-index: -1;
}
.contacts__input label {
  position: absolute;
  top: -13px;
  left: 10px;
  padding: 0 8px;
  background-color: #fff;
}
.contacts__textrea {
  margin-top: 30px;
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.contacts__textrea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 20px;
}
.contacts__textrea label {
  position: absolute;
  top: -12px;
  left: 16px;
  padding: 0 8px;
  background-color: white;
}
.contacts__btn {
  width: 219px;
  height: 45px;
  background: #ffa501;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  border: none;
  margin-top: 55px;
  color: #000000;
  cursor: pointer;
}

@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .about__wrapper {
    -ms-grid-columns: 400px 45px 540px;
    grid-template-columns: 400px 540px;
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
  }
  .about__skills {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .about__skills-item {
    -webkit-column-gap: 17px;
       -moz-column-gap: 17px;
            column-gap: 17px;
  }
  .about__text {
    width: 520px;
  }
  .resume__wrapper {
    padding: 40px 30px 0 30px;
    -webkit-column-gap: 117px;
       -moz-column-gap: 117px;
            column-gap: 117px;
  }
  .page__wrapper {
    padding-left: 75px;
    -ms-grid-rows: (minmax(270px, auto))[2];
    -ms-grid-columns: (270px)[3];
        grid-template: repeat(2, minmax(270px, auto))/repeat(3, 270px);
  }
  .page__skills {
    grid-template-columns: repeat(auto-fit, 350px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio__wrapper {
    grid-template-columns: repeat(auto-fit, 280px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__wrapper .horizonal,
.portfolio__wrapper .vertical {
    grid-row: unset;
    grid-column: unset;
  }
  .portfolio__wrapper .horizonal img,
.portfolio__wrapper .vertical img {
    width: 280px;
    height: 280px;
  }
  .contacts__wrapper {
    padding: 0;
    -ms-grid-columns: 400px 520px;
    grid-template-columns: 400px 520px;
  }
  .contacts__form {
    -ms-grid-rows: 45px 190px 45px;
    -ms-grid-columns: (250px)[2];
        grid-template: 45px 190px 45px/repeat(2, 250px);
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .about__wrapper {
    -ms-grid-columns: 300px 35px 380px;
    grid-template-columns: 300px 380px;
    row-gap: 86px;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
  .about__title36 {
    font-size: 32px;
  }
  .about__text {
    width: 400px;
  }
  .about__skills {
    -ms-grid-columns: 360px;
    grid-template-columns: 360px;
    grid-auto-rows: minmax(115px, auto);
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .about__skills-item {
    -ms-grid-columns: 30px 320px;
    grid-template-columns: 30px 320px;
  }
  .resume__wrapper {
    grid-template-columns: repeat(auto-fit, 413px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 40px;
  }
  .page__wrapper {
    grid-template-columns: repeat(auto-fit, 270px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page__skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price__wrapper {
    grid-template-columns: repeat(auto-fit, 365px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__wrapper {
    -ms-grid-columns: 400px;
    grid-template-columns: 400px;
  }
  .contacts__form {
    -ms-grid-rows: 45px 190px 45px;
    -ms-grid-columns: (195px)[1];
        grid-template: 45px 190px 45px/repeat(1, 195px);
  }
  .contacts__btn {
    padding: 8px 25px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .promo__title16 {
    line-height: 29px;
  }
  .promo__title48 {
    width: 300px;
    font-size: 30px;
    line-height: 40px;
  }
  .about {
    padding-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__descr {
    padding-top: 345px;
  }
  .about__wrapper {
    -ms-grid-rows: 400px auto auto;
    -ms-grid-columns: 1fr;
        grid-template: 400px auto auto/1fr;
  }
  .about__skills {
    -ms-grid-columns: (260px)[2];
    grid-template-columns: repeat(2, 260px);
  }
  .about__skills-item {
    -ms-grid-columns: 28px 190px;
    grid-template-columns: 28px 190px;
  }
  .about__text {
    width: 537px;
  }
  .about__photo {
    width: 94%;
    grid-row: unset;
  }
  .page__wrapper {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts {
    padding-top: 40px;
  }
  .contacts__photo {
    display: none;
  }
  .contacts__title16 {
    left: 12px;
  }
  .contacts__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .contacts__form {
    -ms-grid-rows: 45px 190px 45px;
    -ms-grid-columns: (250px)[2];
        grid-template: 45px 190px 45px/repeat(2, 250px);
  }
}
@media (max-width: 576px) {
  .container {
    width: 90%;
    padding: 0 10px;
  }
  .promo {
    height: 640px;
    background: url("./../img/bg.jpg.jpg") no-repeat 56%/cover;
  }
  .promo__title16 {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
  .promo__title48 {
    font-size: 26px;
    line-height: 37px;
  }
  .promo__btns {
    margin-top: 32px;
  }
  .menu {
    overflow: scroll;
  }
  .menu__block {
    width: 100%;
    height: 100%;
  }
  .menu__link {
    width: 250px;
  }
  .menu__close {
    right: 20px;
  }
  .menu__social {
    left: 88px;
  }
  .about {
    padding-top: 10px;
  }
  .about__wrapper {
    padding-left: 30px;
    -ms-grid-rows: 340px auto auto;
    -ms-grid-columns: 1fr;
        grid-template: 340px auto auto/1fr;
  }
  .about__descr {
    padding-top: 50px;
  }
  .about__skills {
    padding-top: 40px;
    -ms-grid-columns: (260px)[1];
    grid-template-columns: repeat(1, 260px);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about__photo {
    width: 300px;
  }
  .about__title36 {
    width: 297px;
    font-size: 24px;
  }
  .about__text {
    width: 300px;
    font-size: 14px;
  }
  .resume__wrapper {
    grid-template-columns: repeat(auto-fit, 290px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    padding-top: 0;
  }
  .resume__title16 {
    width: 46px;
    margin-left: 125px;
    font-size: 16px;
  }
  .resume__title36 {
    width: 243px;
    font-size: 24px;
    margin-left: 27px;
  }
  .resume__divider {
    margin-top: 15px;
    margin-left: 113px;
  }
  .page {
    padding-top: 47px;
  }
  .page__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page__skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 85px;
  }
  .page__title16 {
    left: -82px;
  }
  .page__title36 {
    margin-left: 78px;
    font-size: 24px;
    width: 208px;
    line-height: 36px;
  }
  .page .divider {
    margin-left: 149px;
    margin-top: 15px;
  }
  .contacts {
    padding-top: 40px;
  }
  .contacts__wrapper {
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
  }
  .contacts__photo {
    display: none;
  }
  .contacts__form {
    -ms-grid-rows: 45px 190px 45px;
    -ms-grid-columns: (250px)[2];
        grid-template: 45px 190px 45px/repeat(2, 250px);
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}