.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 20px;
  flex-direction: column;
  cursor: pointer;
  span {
    display: block;
    background-color: #000;
    width: 30px;
    height: 3px;
  }
  span.log {
    width: 36px;
  }
}
