@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 400px 540px;
      column-gap: 45px;
    }
    &__skills {
      column-gap: 20px;
      &-item {
        column-gap: 17px;
      }
    }
    &__text {
      width: 520px;
    }
  }
  .resume {
    &__descr {
      margin: 0 auto;
    }
    &__wrapper {
      padding: 40px 30px 0 30px;
      column-gap: 117px;
    }
  }
  .page {
    &__wrapper {
      padding-left: 75px;
      grid-template: repeat(2, minmax(270px, auto)) / repeat(3, 270px);
    }
    &__skills {
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: space-between;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      justify-content: space-between;
      justify-content: center;
      .horizonal,
      .vertical {
        grid-row: unset;
        grid-column: unset;
        img {
          width: 280px;
          height: 280px;
        }
      }
    }
  }
  .contacts {
    &__wrapper {
      padding: 0;
      grid-template-columns: 400px 520px;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 300px 380px;
      row-gap: 86px;
      column-gap: 35px;
    }
    &__title36 {
      font-size: 32px;
    }
    &__text {
      width: 400px;
    }
    &__skills {
      grid-template-columns: 360px;
      grid-auto-rows: minmax(115px, auto);
      column-gap: 50px;
      &-item {
        grid-template-columns: 30px 320px;
      }
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 413px);
      justify-content: center;
      padding-left: 40px;
    }
  }
  .page {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: space-between;
    }
    &__skills {
      row-gap: 20px;
      justify-content: center;
      &-title {
        padding-top: 32px;
      }
      &-counter {
        padding-top: 35px;
      }
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 365px);
      justify-content: center;
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 400px;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(1, 195px);
    }
    &__btn {
      padding: 8px 25px;
      line-height: 16px;
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .promo {
    &__title16 {
      line-height: 29px;
    }
    &__title48 {
      width: 300px;
      font-size: 30px;
      line-height: 40px;
    }
  }
  .about {
    padding-top: 40px;
    justify-content: center;
    &__descr {
      padding-top: 345px;
    }
    &__wrapper {
      grid-template: 400px auto auto / 1fr;
    }
    &__skills {
      grid-template-columns: repeat(2, 260px);
      &-item {
        grid-template-columns: 28px 190px;
      }
    }
    &__text {
      width: 537px;
    }
    &__photo {
      width: 94%;
      grid-row: unset;
    }
  }
  .page {
    &__wrapper {
      padding-left: 0;
      justify-content: center;
    }
  }
  .contacts {
    padding-top: 40px;
    &__photo {
      display: none;
    }
    &__title16 {
      left: 12px;
    }
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    padding: 0 10px;
  }
  .promo {
    height: 640px;
    background: url('./../img/bg.jpg.jpg') no-repeat 56% / cover;
    &__title16 {
      width: 245px;
      font-size: 16px;
      line-height: 24px;
    }
    &__title48 {
      font-size: 26px;
      line-height: 37px;
    }
    &__btns {
      margin-top: 32px;
    }
  }
  .menu {
    overflow: scroll;
    &__block {
      width: 100%;
      height: 100%;
    }
    &__link {
      width: 250px;
    }
    &__close {
      right: 20px;
    }
    &__social {
      left: 88px;
    }
  }
  .about {
    padding-top: 10px;
    &__wrapper {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      row-gap: 35px;
    }
    &__descr {
      padding-top: 0px;
    }
    &__skills {
      padding-top: 98px;
      grid-template-columns: repeat(1, 260px);
      justify-content: flex-start;
    }
    &__photo {
      width: 300px;
    }
    &__title36 {
      width: 297px;
      font-size: 24px;
    }
    &__text {
      width: 300px;
      font-size: 14px;
    }
  }
  .resume {
    padding-top: 45px;
    &__wrapper {
      grid-template-columns: 300px;
      grid-template-areas:
        'resume1' 'resume3'
        'resume2' 'resume4';
      .resume1 {
        grid-area: resume1;
      }
      .resume2 {
        grid-area: resume2;
      }
      .resume3 {
        grid-area: resume3;
      }
      .resume4 {
        grid-area: resume4;
      }
      margin: 0 auto;
      padding-left: 0;
      padding-top: 40px;
    }

    &__descr {
      padding-left: 27px;
    }
    &__title16 {
      width: 46px;
      margin-left: 93px;
      font-size: 16px;
    }
    &__title36 {
      width: 243px;

      font-size: 24px;
    }
    &__divider {
      margin-top: 15px;
    }
    &__subtitle {
      margin-bottom: 5px;
    }
  }
  .page {
    padding-top: 47px;
    &__wrapper {
      margin: 0 auto;
      margin-top: 20px;
    }
    &__skills {
      grid-template-columns: 300px;
      margin: 0 auto;
      margin-top: 40px;
      row-gap: 3px;
      &-title {
        padding-top: 35px;
      }
      &-counter {
        padding-top: 35px;
      }
      &-line {
        width: auto;
      }
    }
    &__title36 {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .portfolio {
    padding-top: 85px;
  }
  .price {
    &__wrapper {
      margin: 0 auto;
      grid-template-columns: 300px;
    }
    &__item {
      &::before {
        left: 9px;
      }
    }
  }
  .contacts {
    padding-top: 40px;
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__photo {
      display: none;
    }
    &__form {
      grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
      row-gap: 25px;
      justify-content: center;
    }
    &__input {
      grid-column: 1/2;
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
    &__textrea {
      margin-top: 0;
      height: 50%;
    }
    &__btn {
      margin-top: -65px;
    }
    &__title36 {
      margin-top: 33px;
      line-height: 40px;
    }
  }
}
