.price {
  padding-top: 60px;
  &__title16 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      top: -6px;
      transform: translate(27px);
      border-radius: 100%;
      z-index: -1;
      background: #ffa501;
    }
  }
  .divider {
    width: 60px;
    height: 0px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #ffa501;
  }
  &__wrapper {
    margin-top: 60px;
    padding: 0 60px;
    display: grid;
    grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
    row-gap: 15px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template: repeat(2, minmax(24px, auto)) / repeat(2, auto);
    row-gap: 5px;
    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: -27px;
      width: 15px;
      height: 15px;
      background: #ffa501;
      border-radius: 100%;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  &__counter {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  &__descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }
}
