.promo {
  min-height: 100vh;
  position: relative;
  padding-top: 265px;
  background: url('./../img/bg.jpg.jpg') no-repeat 50% / cover;
  &__title16 {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    z-index: 5;
    color: #000000;
    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      top: -6px;
      left: -11px;
      border-radius: 100%;
      z-index: -1;
      background: #ffa501;
    }
  }
  &__title48 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin-top: 25px;
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    &:hover {
      color: #fff;
    }
  }
}
